.nav {
    width: 100vw ;
    height: 20vh ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 2px 20px 2px rgb(100, 73, 73);
   
}

.home {
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.list{
    display: flex;
    gap: 35px;
    list-style: none;
    color: rgb(130, 80, 80);
    padding-left: 382px;
 
}

#img{
    width: 100vw;
    height: 60vh;
}

#Course{
    padding: 10px;
    border-radius: 2%;
    background-color: #4e5ac8;
    cursor: pointer;
    
}

#test{
    padding: 10px;
    border-radius: 2%;
    background-color:  #4e5ac8;
    cursor: pointer;
}

#faq{
    padding: 10px;
    border-radius: 2%;
    background-color:  #4e5ac8;
    cursor: pointer;
}

#line {
    text-decoration: none;
    color: aliceblue;
}

#line:hover{
    cursor: pointer;
    color: black;
}
